@import 'base/listas';
@import 'base/extension';
@import 'base/mixin';
@import 'componentes/header';
@import 'componentes/footer';
@import 'componentes/body';



*{
    padding: 0px;
    margin: 0px;
}



// -------  nesting  ----------
header {
    grid-area: header;
    padding-top: 20px;
    h1{
        font-size: 40px;
        display: flex;
        justify-content: center;
        color: nth($colores,1);
        
    }
        
    h2{
        display: flex;
        justify-content:center;
        font-size: 20px;
        color: nth($colores,1);        
    }
    
    /*________  LOGO _______*/
    .animacionLogo{       
        width: 80px;
        height: 80px;
        padding-top: 30px;
        padding-left: 15px;
        transition: all 3s;
    }
    .animacionLogo:hover{
        transform: scale(1.5) translateX(120px) rotate(360deg);
    }
    
}






/* ______ 1º INDEX _______________*/

main{
    background-repeat: no-repeat;
    background-position: cover;
    .card-text{
        text-align: left;
        background-color:nth($colores,3);
        }
    .imagen-marron{
        display: block;
        }
    .imagen-marron{
        display: block;
        }

    .parrafo-principal{
        display: flex;
        }
}



  /*__ 2º NOSOTROS _______________       */

  .nosotros{
    height: 70vh;/* alto del navegador */
    display: grid; /* activa el GRID */
    grid-template-rows: repeat (2, 1fr); /* alt de cada area */
    grid-template-columns: repeat (3, 1fr); /* ancho de cada area */
    grid-template-areas: "header header header"
    "main main main"
    "footer footer footer";
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}



/*____ 3º - PRODUCTOS ______________ */


.card {
    height: 100%;
        

   
}


/*___ 4º - GALERIA _________________ */

.main-galeria1{
    background-color: nth($colores,5);
}

.fotos {
    display: grid; /*activa grid*/
    grid-area: auto;
    grid-template-columns: repeat(3, 1fr); /*cantidad*/
    grid-template-rows: repeat(3, 1fr); /*cantidad*/
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.fotos:hover{
    transform: scale(1.1);
    transition: transform 1.5s ease-in-out;
}




/* ___ 5º - CONTACTO _________________*/


.formulario {
    background-image: url(../images/iluminacion-para-habitaciones.jpg);
    background-size: cover;                   
    background-repeat: no-repeat;
    color: nth($colores,4);
    
}

.fondoFooterContacto {
    background-image: url(../images/imgfootercontacto.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

/* _______ Media _______ */

@media (max-width: 991px){
    .grid-container{
        display: block;
    }


    .containerFotos{
        display:block;
    }

    h2{
        display: none;
    }

    .imagen-Marron{
        display: none;
    }

    
    .animacionLogo{
        background-image:none;
        
        
    }
    .animacionLogo:hover{
        transform: none;
        transition: none;
    }
    .social{
        justify-content: center;
    }
}
    


       
/*# sourceMappingURL=style.css.map */
